/* GENERAL CSS */
* {
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

/* ADMIN CSS */
/* SIDEBAR */
.sidebar {
    width: 20rem;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #7b113a;
    z-index: 100;
}

.sidebar-brand {
    height: 6rem;
    padding: 1rem 0rem 1rem 2rem;
}

.sidebar-brand h1 {
    color: #FFF;
    font-weight: 200;
    font-size: 2rem;
}

.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.7rem;
}

.sidebar-menu a {
    display: block;
    color: #FFF;
    text-decoration: none;
    font-size: 1.1rem;
}

.sidebar-menu i {
    padding-right: 1rem;
}

.admin-active {
    background-color: #FFF;
    padding: 1rem;
    color: #7b113a !important;
    border-radius: 30px 0 0 30px;
}

/* HEADER */

.main-admin header {
    padding: 1rem 1.7rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 20rem;
    top: 0;
    width: calc(100% - 20rem);
    z-index: 100;
}

.main-admin header h2 {
    color: #222;
}

.main-admin header i {
    font-size: 1.7rem;
    padding-right: 1rem;
}

.user-wrapper p {
    font-weight: 600;
}

.user-wrapper img {
    width: 50px;
    height: 50px;
    margin-right: .5rem;
}

/* MAIN CONTENT CARDS */
.main-admin {
    margin-left: 20rem;
}

.main-admin main {
    margin-top: 5.1rem;
    padding: 2rem 1.5rem;
    background-color: #f0f0f0;
    min-height: calc(100vh - 5.1rem);
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.cards .card {
    max-width: 18rem;
    border: none;
}

.cards i {
    color: #FFF;
    font-size: 2rem;
} 

.cards .h1 {
    color: #7b113a;
}

.cards .card-header {
    background-color: #7b113a;
}

/* RECENT POST */
.recent {
    margin-top: 3.5rem;
}

.recent .card {
    border: none;
    padding: 0;
}

.recent .card-header {
    border-bottom: 1px solid #f0f0f0;
    background-color: #FFF;
    padding: 1rem;
}

.recent .card-header button {
    background-color: #7b113a;
    color: #FFF;
    font-size: .8rem;
    padding: .5rem 1rem;
}

.recent .card-header button i {
    padding-left: 1rem;
}

.recent table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
}

.recent thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
}

.recent thead td {
    font-weight: 600;
}

.recent td {
    padding: .5rem 1rem;
    font-size: .9rem;
    color: #222;
}

.state-succ {
    color: #007944 !important;
}

.state-no {
    color: #d44000 !important;
}