/* HTML AND BODY */
html, body {
  background-color: #fafafa;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* NAVBAR */
/* Navbar container */
#navbar {
  position: fixed;
  padding: 3em 2em;
  background-color: #931a25;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 99; 
  border-bottom: 0.1em #fafafa solid;
  transition: 0.4s;
}

#logo {
  transition: 0.4s;
  padding-bottom: 2em;
  margin-left: 5em;
}

#logo img {
  width: 50px;
}

/* navbar links */
#navbar a, #dropdown button {
  color: #fafafa;
  text-align: center;
  padding: 1em 1.5em;
  text-decoration: none;
  font-size: 0.9em; 
  text-transform: uppercase;
}

#dropdown {
  display: inline-block;
}

#navbar-items {
  float: right;
}

#dropdown button {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

/* Links on mouse-over */
#navbar a:hover, #dropdown button:hover {
  color: #fafafa;
  font-weight: bold;
}

#navbar a.active {
  color: #fafafa;
  font-weight: bold;
}

/* Dropdown content (hidden by default) */
#dropdown-content {
  display: none;
  position: absolute;
  background-color: #931a25;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
#dropdown-content a {
  color: #fafafa;
  padding: 1em 1.5em;
  text-decoration: none;
  display: block;
  text-align: left;
  float: none;
}

/* Add a grey background color to dropdown links on hover */
#dropdown-content a:hover {
  background-color: #af212c;
  font-weight: bold;
}

/* Show the dropdown menu on hover */
#dropdown:hover #dropdown-content {
  display: block;
}
  
/* CAROUSEL */
/* Slideshow container */
#slideshow-container {
  position: relative;
  margin: auto;
  top: 7em;
  width: 100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  max-height: 30em;
}

/* Next & previous buttons */
#prev, #next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -2em;
  padding: 1.5em;
  color: #FFF;
  font-weight: bold;
  font-size: 1.5em;
  transition: 0.6s ease;
  border-radius: 0 0.3em 0.3em 0;
  user-select: none;
}

/* Position the "next button" to the right */
#next {
  right: 0;
  border-radius: 0.3em 0 0 0.3em;
}

/* On hover, add a black background color with a little bit see-through */
#prev:hover, #next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slide_text {
  color: #f2f2f2;
  font-size: 1.5em;
  position: absolute;
  bottom: 2em;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* MAIN PAGE CONTENT */
#main-grid-container {
  position: relative;
  top: 5em;
  padding: 3em 4em;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  margin-bottom: 10em;
  column-gap: 5em;
  row-gap: 4em;
}

.grid-item {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  left: 0;
  right: 0;
}

.grid-title h1 {
  font-size: 2em;
  font-weight: 600;
  color: #931a25;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

.grid-body p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: justify;
  line-height: 2em;
}

.grid-body ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.grid-body ul li {
  padding: 1.5em 0;
  border-top: #931a25 0.05em solid;
}

.grid-body ul li a {
  text-decoration: none;
  color: #2b2024;
}

.grid-body ul li i {
  float: right;
}

.grid-footer {
  padding-top: 3em;
}

.grid-footer a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  border-bottom: 0.15em #931a25 solid;
  color: #931a25;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.grid-footer a i {
  font-size: 1.5em;
  float: right;
}

/* FOOTER */
#footer {
  position: relative;
  bottom: 0;
  margin-top: 5em;
  background-color: #931a25;
  text-align: left;
  padding: 1.5em 5em;
  color: #FFF;
}

#footer p {
  font-size: 1em;
  font-weight: 300;
}

#footer-left, #footer-center, #footer-right {
  display: inline-block;
  vertical-align: top;
}

#footer-left {
  width: 40%;
}

#footer-left #footer-title {
  font-weight: 300;
  font-size: 1.5em;
  margin: 0;
}

#footer-left div {
  margin-top: 2em;
}

#footer #footer-left div a {
  display: inline-block;
  width: 2em;
  height: 2em;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
  font-size: 20px;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

#footer-center {
  width: 35%;
}

/* SEDI PAGE */
#sedi {
  position: relative;
  padding: 3em 4em;
  top: 7em;
  margin-bottom: 10em;
}

.page_title {
  font-size: 3em;
  color: #931a25;
}

#sede-comtainer {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 3em;
  display: grid;
  grid-template-columns: 60% 40%;
  column-gap: 2em;
}

#sede-left {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2em;
  background-color: #931a25;
}

#sede-info {
  padding: 1em 3em 1em 0;
  color: #fafafa;
}

#sede-info h2 {
  font-size: 2em;
}

#sede-right {
  padding: 0 2em;
}

#sede-right h3 {
  color: #931a25;
  font-size: 2em;
}

.input-field {
  padding-bottom: 1.5em;
}

.input-field label {
  display: block;
  padding-bottom: 0.5em;
  font-weight: 500;
}

.input-field input[type=text], .input-field select {
  border-radius: 1em;
  padding: 1.5em 2em;
  border: 0.1em #2b2024 solid;
  width: 100%;
}

.submitbtn {
  background-color: #931a25;
  width: 100%;
  color: #fafafa;
  padding: 1.5em 2em;
  border-radius: 1em;
  font-size: 1em;
  border: none;
}


/* ACTIVITIES PAGE */
#activities {
  position: relative;
  padding: 3em 4em;
  top: 7em;
  margin-bottom: 10em;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  padding: 2em;
  margin: 1.5em auto;
  width: 300px;
  border-radius: 2em;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_title {
  text-align: center;
  font-weight: bold;
}

.card a {
  font-weight: bold;
  color: #931a25;
  text-decoration: none;
}

.card:hover {
  transform: scale(0.95, 0.95);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

/* TEAM PAGE */
#team {
  position: relative;
  padding: 3em 4em;
  top: 7em;
  margin-bottom: 10em;
}

