/* NAVBAR */
/* nav bar container */
#Navbar {
    overflow: hidden;
    transition: 0.4s;
    width: 100%;
    top: 0;
    z-index: 99; 
    border-bottom: 0.1em #931a25 solid;
}

/* logo */
#Navbar #Logo img {
    width: 50px;
    transition: 0.4s;
    padding-bottom: 2em;
}

/* navbar links */
.nav-items a {
    float: left;
    color: #2b2024;
    text-align: center;
    padding: 1em 1.5em;
    text-decoration: none;
    font-size: 0.9em; 
    text-transform: uppercase;
    font-weight: bold;
  }
  
  /* Links on mouse-over */
  .nav-items a:hover {
    color: #931a25;
  }
  
  /* Style the active/current link */
  #Navbar a.active {
    color: #931a25;
  }
  
  /* Display some links to the right */
  .nav-items, .dropdown {
    float: right;
  }

  /* Dropdown button */
  .nav-items .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }